# =========================
# .NET
# =========================
bin/
obj/
*.user
*.suo
*.cache
*.log

# =========================
# Configurações sensíveis
# =========================
appsettings.json
appsettings.*.json
.env
.env.*

# =========================
# Publish / Windows Service
# =========================
publish/
out/

# =========================
# Visual Studio
# =========================
.vs/
.vscode/

# =========================
# Node / Front (React)
# =========================
node_modules/
dist/
build/

# =========================
# Sistema operacional
# =========================
Thumbs.db
Desktop.ini
