<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="CoopArquivos Reverse Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite"
                  url="https://cooparquivos.sicoobcredipinho.com.br:5000/{R:1}"
                  appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
